/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text-color: rgb(238, 238, 238);
    --border-color: rgb(148, 148, 148);
    --selected-color: rgb(189, 69, 0);
    --unselected-color: rgb(28, 28, 28);
    --hover-color: rgb(70, 70, 70);
    --section-color: rgb(28, 28, 28);
}

body {
    margin: 0;
    background: black;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-image: url('./Space.png'); /* Replace with your image path */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
}

h1 {
    color: var(--text-color);
    font-family: "Geo", serif;
    font-size: 5rem;
    margin-bottom: .75rem;
    margin-top: 1.25rem;
    text-align: center;
}

h3 {
    text-align: center;
    color: var(--text-color);
    font-family: "Geo", serif;
    font-size: 3rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: 0;
    margin-bottom: 1rem;
    background: var(--selected-color);
    border-radius: .5rem .5rem 0 0;
}

.view-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.view-button {
    background: var(--unselected-color);
    color: var(--text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    transition: background-color 0.2s;
    border-color: var(--border-color);
    border-width: .1rem;
}

.view-button:hover {
    background: var(--hover-color)
}

.view-button.active {
    background: var(--selected-color);
}

#btn-model {
    border-radius: .5rem 0 0 .5rem;
    border-style: solid none solid solid;
}

#btn-table {
    border-radius: 0 .5rem .5rem 0;
        border-style: solid solid solid none;
}

.display-container {
    color: var(--text-color);
}

#data-display {
    display: none;
    flex-direction: column;
}

.planet-section {
    align-items: center;
    background-color: var(--section-color);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: .6rem;
    border-width: .1rem;
    border-color: var(--border-color);
    border-style: solid;
}

.data-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.data-table th,
.data-table td {
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

.data-table th {
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

@media (width <= 650px){
    h1 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .view-button{
        font-size: 1rem;
    }

    .data-table td {
        font-size: 1rem;
    }

    .data-table th {
        font-size: 1rem;
    }
}