/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text-color: rgb(238, 238, 238);
    --selected-color: rgb(189, 69, 0);
    --unselected-color: rgb(55, 55, 55);
    --hover-color: rgb(85, 85, 85);
}

body {
    margin: 0;
    background: black;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-image: url('./Space.png'); /* Replace with your image path */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
}

h1 {
    color: var(--text-color);
    font-family: "Geo", serif;
    font-size: 5rem;
    margin-bottom: .75rem;
    margin-top: 1.25rem;
    text-align: center;
}

h3 {
    text-align: center;
    color: var(--text-color);
    font-family: "Geo", serif;
    font-size: 3rem;
}

.view-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.view-button {
    background: var(--unselected-color);
    color: var(--text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    transition: background-color 0.2s;
}

.view-button:hover {
    background: var(--hover-color)
}

.view-button.active {
    background: var(--selected-color);
}

#btn-model {
    border-radius: .2rem 0 0 .2rem;
}

#btn-table {
    border-radius: 0 .2rem .2rem 0;
}

.display-container {
    color: var(--text-color);
}

#data-display {
    display: none;
    flex-direction: column;
}

.data-table {
    align-items: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}

.data-table th,
.data-table td {
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

.data-table th {
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
}